
.department-container {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Styles for the header */
h1 {
  font-size: 2em;
  margin-bottom: 30px;
}

/* Table styling */
.department-table {
  width: 60%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.department-table th,
.department-table td {
  padding: 15px;
  border: 1px solid #ddd;
}

/* Header row styling */
.department-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

/* Hover effect for all rows */
.department-table .department-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
